* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #222438 16.62%, #030305 85.61%)
}

a {
    text-decoration: none
}

a:hover {
    color: #c94304;
}

header {
    background: rgba(0, 0, 0, 0.3);
    padding-inline: 16px;
    padding-bottom: 70px;
}

.cabecalho {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.cabecalho-menu-item {
    color: aliceblue;
    font-size: 25px;
}

section {

    height: 96.9vh;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

section p {
    margin-top: 20px;
    margin-bottom: 30px;
}

section form {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

section input, form textarea {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    border: none;
}

@media only screen and (max-width: 768px) {
    section form {
        max-width: 90%; /* Faça o formulário ocupar 100% da largura em telas menores */
    }
}